/redis-data/*
*/data/
!.gitignore
/.idea
esrc/*
*.pyc
*.whl
artinsol/.env
cert.*
*.tar
*.tar.*
*.zip
*.log
conf/*.json
**/data/*
!**/.gitkeep.txt
__pycache__/
*/__pycache__/
**/__pycache__/*
*.py[cod]
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.pot

db.sqlite3
hostdir
requiremets_base.txt
cmd.sh