python-multipart
uvicorn
fastapi
requests
starlette==0.13.6
SQLAlchemy==1.4.13
pydantic
websockets
websocket-client
async-exit-stack
PyMySQL
coverage
pytest
debugpy
filetype
json_logging
cx_Oracle
SQLAlchemy-Utils
pyyaml
numpy==1.22.0
h5py==3.6.0
joblib==1.1.0
imageio==2.13.5
pillow==8.4.0
fastapi_jwt_auth

#tt_whls:
ttutils==0.14.10
